// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#you {
  font-family: 'Roboto', sans-serif;
}

#coach {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFE1;
}

p {
  text-indent: 20px;
}
